<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
<meta name="mobile-web-app-capable" content="yes">	
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="Robots" content="ALL" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>생활관리사 맞춤 서비스</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<h1 id="title">생활관리사 맞춤 서비스</h1>


<div id="wrap">
    <div id="gnb">
        <h2 id="gnb-title">시니어리</h2>
        <button id="gnb-menu"><span>메뉴</span></button>
        <ul id="gnb-list">
            <li><a href="list1">오늘업무</a></li>
            <li><a href="workshare1">인수인계</a></li>
            <li><a href="manage1">어르신 관리</a></li>
            <li><a href="mypage1">마이페이지</a></li>
            <li><a href="/logout">로그아웃</a></li>
        </ul>
    </div>
    <div id="contents">
        <div id="inner">
            <div class="list-myinfo">
                <h4 class="list-myinfo__name"><b>안동현</b> 관리사님<br/>반갑습니다!</h4>				
            </div>
            <dl class="list-myinfo__list">
                <dt>
                    <h5>오늘 업무</h5>
                    <p>총 <b>10</b>건</p>
                </dt>
                <dd>
                    <ul>
                        <li>
                            <a href="fixwork1">
                                <h5>고정 업무</h5>
                                <p><b>5</b>건</p>
                            </a>
                        </li>
                        <li>
                            <a href="morework1">
                                <h5>추가 업무</h5>
                                <p><b>5</b>건</p>
                            </a>
                        </li>
                    </ul>
                </dd>
            </dl>


            <div class="list-title">
                <h5>고정 업무</h5>
                <a href="fixwork1">전체보기</a>
            </div>
            
            <ul class="list-group">
                 <li class="list-item">
                    <a href="#" class="list-item__link">
                        <em class="list-item__thumb" style="background:url('../../img/profile_sample.jpg')no-repeat center center / cover;"></em>
                        <div class="list-item__text">
                            <h5><b>김춘배</b>어르신</h5>
                            <p>성수낙낙 / 69세 / 남</p>
                        </div>
                        <ul class="list-item__todo">
                            <li><span>등록된 데이터가 없습니다</span></li>
                        </ul>
                    </a>
                    <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                </li>
            </ul>



            <div class="list-title">
                <h5>추가 업무</h5>
                <a href="morework1">전체보기</a>
            </div>

            <ul class="list-group">
                <h5 class="mt30" style="text-align: center; font-size: 18px; font-weight: 400;">인수인계 사항이 없습니다!</h5>
            </ul>

            <p class="page-copy">Copyright &copy; Dongs All Rights Reserved.</p>

        </div><!--  inner -->
    </div><!--  content -->
</div><!--  wrap -->




<!-- JS -->
<script src="js/jquery-2.2.1.min.js"></script>
<script src="js/placeholders.min.js"></script>
<script src="js/common.js"></script>
<script>

</script>
</body>
</html>


